doctype html
html
  head
    title LOL Addiction Recovery
    link(rel='stylesheet', href='/assets/app.css')
  body
    #main(data-initial-state=JSON.stringify(initialState))
    script(src="/assets/app.js" type='text/javascript')

