// Color Palette
$amaranth: #E63946;
$amaranth-25: rgba(230, 57, 70, .25);
$picton-blue: #39A1ED;
$half-baked: #87C7CA;
$cello: #1D3557;
$martinique: #272447;

// Bootstrap Grays
$silver-chalice: #A0A0A0;
$silver: #B9B9B9;
$alto: #D3D3D3;
$seashell: #F1F1F1;

// Screensizes
$small-screen: 768px; // bootstrap col-sm breakpoint
$large-screen: 992px; // bootstrap col-md breakpoint